@using NewsApp.ViewModels;
@model NewCreateViewModel

@{
    ViewData["Title"] = "Create a new News";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create a new movie</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">


                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Body" class="control-label"></label>
                                <input asp-for="Body"  class="form-control" />
                                <span asp-validation-for="Body" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ImageFile">Image</label>
                                <input asp-for="ImageFile" type="file" class="form-control" placeholder="Image">
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                            </div>
                        

                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category"></select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
             
                        </div>


                        <div class="form-group mt-2">
                            <input type="submit" value="Create" class="btn btn-outline-success float-end " />
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

